/* Main */
.c-main {
  // Display
  display: flex;
  -webkit-display: flex;

  // Height & width
  height: 100vh;
  width: 100vw;

  // Position
  position: relative;
}

.c-main--right,
.c-main--left {
  // Display
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  justify-content: center;

  // Height & width
  width: calc(~"50% - 100px");
  height: 100%;

  // Margin & padding
  margin: auto 50px;

  // Position
  z-index: 2;

  @media (max-width: @grid-float-breakpoint) {
    // Height & width
    width: calc(~"100% - 100px");

    // Position
    position: absolute;
  }
}

/* Canvas */
.c-canvas {
  // Extra
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));

  // Height & width
  height: 100%;

  // Margin & padding
  padding: 100px 0;

  @media (max-width: @grid-float-breakpoint) {
    // Extra
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, 0)));
  }
}

/* List */
.c-list__title {
  // Font
  font-weight: @light;
  font-size: 40px;
  letter-spacing: .4px;
}

.c-list__subtitle {
  // Font
  letter-spacing: 1px;
}

.c-list__element {
  // Font
  letter-spacing: 1px;
  font-size: 16px;
}

.c-list__title-collapse {
  .fa {
    // Extra
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    .transition(.3s);

    // Font
    font-size: 12px;
    vertical-align: 2px;
  }

  &:hover {
    .fa {
      // Margin & padding
      margin-right: 10px;
    }
  }

  &.collapsed {
    .fa {
      // Extra
      transform: rotate(0);
      -webkit-transform: rotate(0);
    }
  }
}